<li>
    {{burger_name}}

    <button class="devour" data-id="{{id}}" data-neweat="{{devoured}}">
        {{#unless devoured}}Devour!{{else}}Regurgitate!{{/unless}}
    </button>
    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>