<li>
    {{name}}

    <button class="devour" data-id="{{id}}" data-neweat="{{devour}}">
        {{#if sleep}}Devour!{{else}}Regurgitate!{{/if}}
    </button>
    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>