<li>
    {{burger_name}}

    <button class="devour" data-id="{{id}}" data-neweat="{{devour}}">
        {{#if devour}}Devour!{{else}}Regurgitate!{{/if}}
    </button>
    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>